      <div class="footer">
        <p>&copy; {{ date: "%Y" }} {{ site.author.name }}</p>
      </div>
    </div>
    <!-- JavaScript goes here -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>
