---
layout: paper
title: Blog
header: Blog
group: navigation
permalink: /blog/
weight: 1
subpages:
  - title: Archive
    url: /blog/archive/
---
{% for post in site.posts limit: 3 %}
	<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	{{ post.excerpt }}
	<p class="readmore"><a href="{{ site.baseurl }}{{ post.url }}">Read More...</a></p>
	<hr />
{% endfor %}
