<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>From the Desk of Amanda Folson</title>
		<meta name="description" content="" />
		<meta name="robots" content="" />
		<meta name="keywords" content="" />
		<link href="{{ site.baseurl }}/assets/css/paper.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div id="container">
			<div class="lego">
				<img src="{{ site.baseurl }}/assets/img/lego.png" alt="Lego face" height="100" width="100" />
			</div>
			<div id="header">
				<ul>
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
					<li><a href="{{ site.baseurl }}/blog/archive/">Archive</a></li>
					<li><a href="{{ site.baseurl }}/about/">About</a></li>
				</ul>
			</div>
			<div class="letter">
				<div class="memo">
					<p>From the Desk Of</p>
					<span class="heading_type">AMANDA FOLSON</span>
				</div>
				{% if page.hide_title %}
				{% else %}
					<h1>{{ page.title }}</h1>
				{% endif %}
				{{ content }}
				{% if page.previous or page.next %}
				<hr />
				{% endif %}
				{% if page.previous %}
				<span class="previousstory"><a href="{{ site.baseurl }}{{ page.previous.url }}"> << Previous</a></span>
				{% endif %}
				{% if page.next %}
				<span class="nextstory"><a href="{{ site.baseurl }}{{ page.next.url }}">Next >></a></span>
				{% endif %}
			</div>
			<div id="footer">
				<p>Copyright &copy; 2015 Amanda Folson</p>
			</div>
		</div>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-63598738-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
